$titlebar-height: 30px;
$resizer-border: 4px;
$titlebar-color: #252525;
$icon-padding: 10px;

:host {
    height: $titlebar-height;
    display: block;
    -webkit-user-select: none;
    color: #fff;
    line-height: $titlebar-height;
}

.draggable-area {
    top: $resizer-border;
    left: $resizer-border;
    right: $resizer-border;
    display: block;
    position: absolute;
    height: $titlebar-height - $resizer-border;
    -webkit-app-region: drag;
}

.draggable-area-maximized {
    top: 0;
    left: 0;
    right: 0;
    height: $titlebar-height;
}

.container {
    background-color: $titlebar-color;
}

.logo {
    height: $titlebar-height;
    width: $titlebar-height;
    .icon {
        padding: 5px;
    }
}

.btn {
    height: $titlebar-height;
    width: $titlebar-height;
    -webkit-app-region: no-drag;
    z-index: 1000;
    padding: 0 5px 0 5px;

    &:hover {
        background-color: lighten($titlebar-color, 10%);
    }
}

.close-btn:hover {
    background-color: rgb(255, 0, 0);
}

.icon {
    padding: $icon-padding;
    ::ng-deep svg {
        display: block;
    }
}
