<!-- <div class="container" fxLayout="row" fxFlexAlign="end">
    <div class="draggable" fxLayout="row" fxFlex [class.draggable-maximized]="maximized">
        <div class="logo">soulcatcher</div>
    </div>
</div> -->

<div class="container" fxLayout="row">
    <div class="draggable-area" [class.draggable-area-maximized]="maximized" fxFlex>
        <div class="logo">SC</div>
    </div>
    <div class="controls" fxLayout="row">
        <div class="btn btn-min">-</div>
        <div class="btn btn-max">+</div>
        <div class="btn btn-close">x</div>
    </div>
</div>
